.budget-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;

    padding: .75em 1.5em .75em 1.5em;
    border: 1px solid var(--light-gray);
    border-radius: .25em;

    transition: background-color 0.75s;
}

.budget-title {
    margin-right: auto;
}

.budget-cost {
    right: 40%;
    text-align: right;
    position: absolute;

    opacity: 75%;
    font-weight: 300;
}

.budget-container .svg {
    width: 1.2em;
    margin-left: 1em;
}

.budget-container .edit-btn {
    fill: var(--blue);
}

.budget-container .delete-btn {
    fill: var(--red);
}