.budget-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: .5em 1em .5em 1em;
    background-color: white;

    position: relative;
}

.budget-title {
    margin-right: auto;
}

.budget-cost {
    right: 40%;
    text-align: right;
    position: absolute;
}

.budget-container .svg {
    width: 1.2em;
    margin-left: 1em;
}

.budget-container .edit-btn {
    fill: green;
}

.budget-container .delete-btn {
    fill: red;
}