@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --max-width: 50em;
  --side-margin: 2em;
  --navy: rgb(49, 49, 70);
  --blue: rgb(56, 107, 165);
  --red: rgb(185, 56, 56);
  --light-gray: rgb(204, 204, 204);
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--navy);
}

button, .svg {
  cursor: pointer;
}

body, input, span {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}